.container {
  font-size: 12px;
  text-align: left;
  width: 100%;
  padding: 10px;
background-color: rgba(0, 0, 0, 0.4);
border-radius: 15px;
}

.title {
  width: 90%;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600px;
}

.list {
  width: 90%;
  margin: 0 auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 300;
}

.item {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.warningTitle {
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.warningDescription {
  font-weight: 300;
  font-size: 12.5px;
  margin: 0;
  padding: 5px 0;
  
}

.item {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5px; /* add margin-bottom property */
}

.divider {
  height: 1px;
  margin: 5px 0; /* reduce margin-top property */
  background-color: #eee;
  border: none;
}


.yellow {
  color: rgb(247, 247, 73);
}

.red {
  color: rgb(255, 53, 53);
}

.amber {
  color: rgb(248, 180, 52);
}
.container {
    font-size: 12px;
    text-align: left;
    width: 100%;
    padding: 10px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
}

.title {
    width: 90%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 600px;
}

.list {
    width: 90%;
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
}

.item {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.warningTitle {
    font-weight: 400;
    font-size: 17px;
    margin: 0;
}

.warningDescription {
    font-weight: 300;
    font-size: 12.5px;
    margin: 0;
    padding: 5px 0;
    
}

.item {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px; /* add margin-bottom property */
  }
  
  .divider {
    height: 1px;
    margin: 5px 0; /* reduce margin-top property */
    background-color: #eee;
    border: none;
  }

  
  .yellow {
    color: rgb(247, 247, 73);
  }
  
  .red {
    color: rgb(255, 53, 53);
  }
  
  .amber {
    color: rgb(248, 180, 52);
  }
  