@import '~style/helpers';

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto; 
	font-weight: 300;
}


.locationBox {
	display: flex;
	flex-direction: column;
}

.tempBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 1.5em;
}

.temp {
	font-size: 3em;
}

.city {
	font-size: 3.5em;
	text-align: left;
		
}

.date {
	text-align: left;
	font-size: 1.5em;
}